/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #a8dadc;
}

.photo {
  background: url(../src/assets/images/touxiang.jpg);
  background-size: cover;
  width: 150px;
  height: 150px;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
}

.project {
  width: 323px;
  height: 200px;
  margin: 2em;
}

.pic-1 {
  width: 323px;
  height: 200px;
  margin: 2em;
  background: url(../src/assets/projects/0.png) center no-repeat;
  background-size: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}

.pic:hover {
  background: linear-gradient(rgb(0, 0, 0, 60%), rgb(0, 0, 0, 60%)), url(../src/assets/projects/0.png) center no-repeat;
  background-size: cover;
  opacity: 1;
}

.eye-1 {
  width: 323px;
  height: 200px;
  opacity: 0;
  z-index: 3;
}

.eye:hover {
  border-radius: 10px;
  opacity: 1;
}

.fa-brands {
  font-size: 30px;
}